<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>
      Καταστήματα
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="info-container">
      <div class="action-buttons-container">
          <ion-fab-button color="light" (click)="locateUser()" class="locate-user"><ion-icon name="locate"></ion-icon></ion-fab-button>
          <ion-fab-button color="secondary"><ion-icon name="list"></ion-icon></ion-fab-button>
      </div>
      <div id="infowindow">
          <div class="info-title">
            <div id="infoName" class="info-name">Οδός Οθώνος Σύνταγμα</div>
            <div class="info-status">ΑΝΟΙΧΤΟ</div>
          </div>
          <div class="info-body">
            <div><i class="fas fa-map-marker-alt"></i> &nbsp; <span id="infoAddress">Όθωνος 8, Κέντρο, 10557 Αθήνα</span>  <strong><span id="currentDistance">0,1</span>χλμ</strong></div>
            <div>Εκτ. Χρ. Αναμονής: <strong><span class="remaining-time" id="remainingTime">2</span> λεπτά</strong> </div>
          </div>
          <hr>
          <div class="info-details">
            <a href="#"> ΛΕΠΤΟΜΕΡΕΙΕΣ ΚΑΤΑΣΤΗΜΑΤΟΣ</a>
          </div>
        </div>  
  </div>
  
  <div class="map" #mapElement></div>
</ion-content>
